<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "panda.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Messages", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "panda.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container">

  <div class="form-container">
    <%= simple_form_for(Pic.new) do |f| %>
      <!-- [...] -->
      <%= f.input :title %>
      <div class="d-flex justify-content-around align-items-center">
        <%= f.input :photo, as: :file %>
        <%= f.submit "Add Pic", :class => "btn btn-primary btn-size" %>
      </div>
      <!-- [...] -->
    <% end %>
  </div>

  <div class="options-group">
      <%= link_to "Delete All", destroy_all_posts_path, :class => "btn btn-danger btn-size", method: "delete" %>
  </div>

  <!-- <div class="row mt-5"> -->
  <div class="cards-container">

    <% Pic.all.each do |pic| %>


    <div class="card-product mt-5">
      <img src="<%= cl_image_path pic.photo.key %>" />
      <div class="card-product-infos">
        <h2><%= pic.title %></h2>
        <!-- <p>Product description with <strong>relevant info</strong> only.</p> -->
      </div>
    </div>


    <% end %>
  </div>
  <!-- </div> -->

</div>
