    <img src="/images/panda.jpg" />

<div class="container">

  <%= simple_form_for(Pic.new) do |f| %>
    <!-- [...] -->
    <%= f.input :title %>
    <div class="d-flex justify-content-around">
      <%= f.input :photo, as: :file %>
      <%= f.submit "Add Pic" %>
    </div>
    <!-- [...] -->
  <% end %>

  <!-- <div class="row mt-5"> -->

    <% Pic.all.each do |pic| %>


    <div class="card-product mt-5">
      <img src="<%= cl_image_path pic.photo.key %>" />
      <div class="card-product-infos">
        <h2><%= pic.title %></h2>
        <!-- <p>Product description with <strong>relevant info</strong> only.</p> -->
      </div>
    </div>


    <% end %>
  <!-- </div> -->

</div>
