<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-brand">
    <%= image_tag "panda.jpg", class: "avatar" %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to "X", destroy_all_posts_path, :class => "btn btn-danger btn-size", method: "delete" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "panda.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container">

  <div class="form-container">
    <%= simple_form_for(Pic.new) do |f| %>
      <!-- [...] -->

      <div class="first-info d-flex">
        <%= f.input :title %>
        <%= f.input :comment %>
      </div>
      <div class="d-flex justify-content-around align-items-center">
        <%= f.input :photo, as: :file, label: false %>
        <%= f.submit "Create", :class => "btn btn-primary btn-size" %>
      </div>
    <% if @errors %>
      <p class="text-danger">(must add a picture)</p>


    <% end %>
      <!-- [...] -->
    <% end %>
  </div>



  <!-- <div class="row mt-5"> -->
  <div class="cards-container">

    <% Pic.all.each do |pic| %>


    <div class="card-product mt-5">
      <img src="<%= cl_image_path pic.photo.key %>" />
      <div class="card-product-infos">
        <h2><%= pic.title %></h2>
        <p><%= pic.comment %></p>
      </div>
    </div>
    <div class="text-right pic-delete">
      <%= link_to pic_path(pic), method: "delete", class: "trash-btn" do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>

    <% end %>
  </div>
  <!-- </div> -->

</div>

<div class="my-form">
  <%= simple_form_for(@background) do |f| %>
        <!-- [...] -->
    <div class="d-flex justify-content-around align-items-center">
      <%= f.input :photo, as: :file, label: false %>
      <%= f.hidden_field :img %>
      <%= f.submit "set back", :class => "btn btn-primary btn-size" %>
      <%= link_to "clear", destroy_background_path, :class => "clear-btn btn btn-danger btn-size", method: "delete" %>
    </div>
        <!-- [...] -->
  <% end %>

</div>
